<div id="contact-success">
    <span></span>
    <div class="notification-right">
        <h2 class="notification-title">
            Awesome!
        </h2>

        <p class="notification-text">
            I've got your message and I'll get back to you soon
        </p>
    </div>
</div>

<div id="contact-failure">
    <span></span>
    <div class="notification-right">
        <h2 class="notification-title">
            Hmm...Something isn't right
        </h2>

        <p class="notification-text">
            This is probably on me. Refresh your page and try again
        </p>
    </div>
</div>

<div id="contact-error">
    <span></span>
    <div class="notification-right">
        <h2 class="notification-title">
            Hmm, that's funny...
        </h2>

        <p class="notification-text">
            I don't know how this happened. Check your form and make sure there aren't any errors
        </p>
    </div>
</div>