<nav class="nav">
    <div class="nav-left">
        <div class="nav-item">
        </div>
    </div>

    <div class="nav-right">
        <div class="nav-item">
            <button>Home</button>
        </div>

        <div class="nav-item">
            <button class='work-trigger'>Works</button>
        </div>

        <div class="nav-item">
            <button class='contact-trigger'>Contact</button>
        </div>
    </div>
</nav>